#container{
	background-color: white;
	padding-top: 80px;
	min-width: 400px;
	display: flex;
	flex-flow: wrap row;
}

#article1{
	border-bottom: 1px solid rgba(0,0,0,.2);
	padding-bottom: 20px;
}
#content{
	width:100%;
	height:100%;
	flex:2 2 200px;
	margin-right: 20px;
}

#mpaContainer{
	flex:1 1 300px;
    background: #eee;
}

#content > #article1 > h2{
	margin-top: 40px;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-bottom: 50px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,.2);
	color:#b49759;
}
#mapTransInfo{
	position: fixed;
    width: 300px;
    margin-left: 140px;
}
.input_box{
	margin-bottom: 20px;
	border-bottom: 1px solid #eee;
	margin-left: 40px;
}

.input_box label{
	display:inline-block;
	text-align:left;
	width:200px;
}
.input_box input{
	font-family: 'Jeju Gothic', serif;
	outline:none;
	width:170px;
	height:30px;
	margin-bottom: 5px;
}

input[type="button"]{
	font-family: 'Jeju Gothic', serif;
	background-color: rgba(200,200,200,.3);
	outline: none;
	width: 100px;
	height: 35px;
	cursor: pointer;
	margin-left:245px;
	border-radius:2px;
	border:1px solid rgba(0,0,0,.6);
}
.input_box > #hobbySearch{
	font-family: 'Jeju Gothic', serif;
	width:173px;
	height:40px;
	border-radius: 2px;
}

.article-clubs{
	position: relative;
	display:block;
	top:0;
	width:100%;
}
#article2 > h2{
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

div.club_category{
	margin-left: 20px;
	margin-bottom: 10px;
}

div.club_category > a.category_row{
	color: rgba(0,0,0,.5);
	border-right: 1px solid rgba(0,0,0,.5);
	font-size: 12px;
	padding: 0 5px;
}

div.club_category > a.category_row:last-child {
	border: none;
}

div.club_category > a.category_row:hover{
	color:rgba(0,0,0,.8);	
}
.click{
	font-weight: bold;
	color:black !important;
}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0 1000px white inset!important;}
input:-webkit-autofill { transition: background-color 5000s ease-in-out 0s;}