body{
	background: #eee;
}

#container{
	padding-top: 120px;
}

#content{
	display: flex;
	flex-flow: row wrap;
	margin-bottom: 100px;
	padding-left: 200px;
	padding-right: 300px;
}

#content .wrap_link{
	flex: 1 1 200px;
	margin-left: 10px;
}

.modify_info{
	height:400px;
	box-shadow: 1px 1px 1px rgba(0,0,0,.2);
}
.modify_page{
	width:100%;
	height:100%;
}
.sub_comment{
	display:inline-block;
	margin-left:40%;
	font-size: 20px;
}

.fa-cog{
	text-align:center;
	margin:0 auto;
	padding-bottom:30px;
	width:100%;
	margin-left: -45px;
}
.my_info{
	text-align: center;
	font-size: 40px;
	margin-left: -47px;
	width: 100%;
	display: block;
	color: #b49759
}

.delete_info:hover{
	transform:scale(1.2);
}