<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.amigo.dao.authority">
  	<insert id="insertUser">
  		INSERT INTO amigo_author
  		VALUES(AMIGO_AUTHOR_SEQ.NEXTVAL,#{username},#{authority})
  	</insert>
  	
  	<select id="selectAuthor" resultType="String">
  		SELECT
  			authority
  		FROM
  			amigo_author
  		WHERE
  			mid=#{username}
  	</select>
  
  </mapper>