<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.amigo.dao.club">
  
    <!-- 동호회 개설 -->
  	<insert id="insertClub">
  		INSERT INTO amigo_club(cnum,ctitle,ccontent,cpic,cmaster,caddress,chobby)
  		VALUES
  			(AMIGO_CLUB_MEMBERS_SEQ.CURRVAL,#{cTitle},#{cContent},#{cPic},#{cMaster},#{cAddress},#{cHobby})
  	</insert>
  	
  	<!-- 취미가져오기 -->
  	<select id="selectHobby" resultType="int">
  	  	SELECT
  			hnum
  		FROM 
  			amigo_hobby
  		WHERE
  			hobby = #{hobby}
  	</select>

	
  	<select id="selectClubName" resultType="HashMap">	
		SELECT 
			ac.cnum,ac.ctitle,ac.cpic 
		FROM 
			amigo_club ac, amigo_club_members acm 
		WHERE 
			ac.cnum = acm.cnum AND acm.mid=#{username}
  	</select>
  	
  	<!-- 특정 동호회 가져오기 -->
  	<select id="selectClub" resultType="ClubVO">
  		SELECT
  			c.cnum, c.cmaster, c.ctitle, c.ccontent, c.cpic, c.cregdate, c.chobby, c.caddress,m.mpic as cmasterpic
  		FROM 
  			amigo_club c,amigo_member m,amigo_club_members cm
  		WHERE 
  			c.cnum = #{cNum} 
  		<include refid="clubSearchMpic"/>
  	</select>
  	
  	<select id="selectCnum" resultType="int">
  		SELECT
  			cnum
  		FROM
  			amigo_club
  		WHERE
  			ctitle = #{cTitle}
  	</select>
  	
  	<!-- 총 동호회수 -->
  	<select id="selectClubCount" resultType="int">
  		SELECT
  			COUNT(*)
  		FROM
  			amigo_club c
  		<include refid="clubSearchByWord"/>
  		<include refid="forEachAddress"/>
  	</select>
  	
  	<!-- 동호회리스트 페이징처리 -->
  	<select id="selectClubs" resultType="ClubVO">
  		<include refid="clubBeforePaging"/>
  		SELECT
  			c.cnum,c.cmaster,c.ctitle,c.ccontent,c.cpic,c.cregdate,c.chobby,c.caddress,m.mpic as cmasterpic,
  			(SELECT COUNT(*) FROM amigo_board ab WHERE c.cnum = ab.cnum AND ab.bcategory != 6) as boardcount,
  			(SELECT COUNT(*) FROM amigo_club_members WHERE cnum=c.cnum ) as membercount
  		FROM
  			 amigo_club c, amigo_member m, amigo_club_members cm
  		<include refid="clubSearchByWord"/>
  		<include refid="clubSearchMpic"/>
  		<include refid="forEachAddress"/>
  		<include refid="clubOrderBy"/>
  		<include refid="clubAfterPaging"></include>
  	</select>

  	<!-- 동적 검색. 선택키워드에 따라 동호회를 보여줌.  -->
  	<sql id="clubSearchByWord">
  		<choose>
  			<when test="criteria.hobbySearch == 'all' ">
		  		WHERE  		   				
	  			   (ctitle like '%'||#{criteria.titleSearch}||'%'
	  			   AND caddress like '%'||#{criteria.addrSearch}||'%')	
		  	</when>
		  	
		  	<otherwise>
		  		WHERE
		  		    (ctitle like '%'||#{criteria.titleSearch}||'%'
		  		    AND chobby = (SELECT hnum FROM amigo_hobby WHERE hobby like '%'||#{criteria.hobbySearch}||'%')
		  		    AND caddress like '%'||#{criteria.addrSearch}||'%')
		  	</otherwise>
  		</choose>
  	</sql>
  	
 	<sql id="clubSearchMpic">
 		AND c.cnum = cm.cnum  AND c.cmaster = cm.cnickname AND m.mid = cm.mid 
 	</sql>
 	
 	<!-- 동적 정렬. 선택키워드에 따라 최신순,게시글순,회원순으로 정렬해줌.  -->
  	<sql id="clubOrderBy">
  		<trim prefix="ORDER BY">
  			<if test="criteria.orderByCriteria == '최신순'">
  				cregdate desc, c.cnum desc
  			</if>
  					  
  			<if test="criteria.orderByCriteria == '회원수'">
  				membercount desc, c.cnum desc
  			</if>
  			
  			<if test="criteria.orderByCriteria == '게시글수'">
  				boardcount desc, c.cnum desc
  			</if>
  		</trim>
  	</sql>
  	
 	<sql id="forEachAddress">
  		<if test="criteria.clubNumList != null">
  			AND c.cnum IN
	  		<foreach collection="criteria.clubNumList" item="item" open="(" close=")" separator=","> 
	  			#{item.cNum}
	  		</foreach>
  		</if>
  	</sql>
  	
  	<!--페이징처리 헤더부분  -->
  	<sql id="clubBeforePaging">
  		SELECT * FROM(
  				SELECT ROWNUM rnum, A.* FROM(
  	</sql>
  	
  	<!--페이징처리 풋터부분  -->
  	<sql id="clubAfterPaging">
  				)A
  		)
  		<if test="start != null">	
  			WHERE rnum BETWEEN #{start} AND #{end}
  		</if>
  	</sql>
  
  
  	<!-- 동호회 활동지역 가져오기  -->
  	<select id="selectAddress" resultType="ClubVO">
		SELECT 
			c.cnum,c.cmaster,c.ctitle,c.ccontent,c.cpic,c.cregdate,c.chobby,c.caddress,m.mpic as cmasterpic,
  			(SELECT COUNT(*) FROM amigo_board ab WHERE c.cnum = ab.cnum AND ab.bcategory != 6) as boardcount,
  			(SELECT COUNT(*) FROM amigo_club_members WHERE cnum=c.cnum ) as membercount
		FROM 
			amigo_club c,amigo_member m,amigo_club_members cm
  		<include refid="clubSearchByWord"/>
  		<include refid="clubSearchMpic"/>
  	</select>
  	
  	<!-- 동호회 삭제 -->
  	<delete id="deleteClub">
  		DELETE FROM amigo_club c
  		WHERE
  			c.cnum=#{cNum}
  	</delete>
  	
  	<!-- 동호회 수정 -->
  	<update id="updateClub">
  		UPDATE amigo_club c
  		SET
  			c.ccontent=#{cContent},c.cpic=#{cPic},c.caddress=#{cAddress}
  		WHERE
  			c.cnum=#{cNum}
  	</update>

  </mapper>