<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.amigo.dao.clubmember">
  
    <!-- 동호회 개설시 트랜잭션처리되는 쿼리문  -->
  	<insert id="insertClubMember" >
  		INSERT INTO amigo_club_members(cnum,cnickname,mid,cgrade)
  		VALUES(AMIGO_CLUB_MEMBERS_SEQ.NEXTVAL,#{cNickname},#{mid},(select gnum from amigo_grade where grade = #{cGrade}) )
  	</insert>
  	
  	<!-- 멤버가져오기 -->
  	<select id="selectClubMember" resultType="ClubMemberVO">
  		SELECT 
  			cnum,cnickname,mid,cgrade,(SELECT mpic FROM amigo_member WHERE mid=#{username} ) as mpic
  		FROM 
  			amigo_club_members 
  		WHERE 
  			mid = #{username} AND cnum = #{cNum}
  	</select>
  	
  	<!-- 닉네임가져오기  -->
  	<select id="selectNickname" resultType="ClubMemberVO">
  		SELECT
  			cnum,cnickname,mid,cgrade 
  		FROM
  			amigo_club_members 
  		WHERE 
  			cnickname= #{cNickname} AND cnum = #{cNum}
  	</select>
  	
  	<!--동호회 가입 -->
  	<insert id="joinClub">
  		INSERT INTO amigo_club_members(cnum,cnickname,mid,cgrade)
  		VALUES(#{cNum},#{cNickname},#{mid}, (select gnum from amigo_grade where grade = #{cGrade}) )
  	</insert>
  	
  	<!-- 동호회 탈퇴 -->
  	<delete id="deleteClub">
  		DELETE FROM amigo_club_members
  		WHERE cnum =#{cNum} AND cnickname=#{cNickname}
  	</delete>
  </mapper>