<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.amigo.dao.member">
  	<insert id="insertMember">
  		INSERT INTO amigo_member(mid,mpwd,mpic,mname,mtel,memail,mgender,mage,enabled)
  		VALUES(#{username},#{password},#{mPic},#{mName},#{mTel},#{mEmail},#{mGender},#{mAge},'1')
  	</insert>
  	
  	<select id="selectMember" resultType="MemberVO">
  		SELECT 
  			mid as username,mpwd as password,mpic,mname,mtel,memail,mgender,mregdate,mage,mupdatedate										       
  		FROM
  			amigo_member
  		WHERE
  			mid=#{mid} 
  	</select>

  	<update id="updateMember">
  		UPDATE 
  			amigo_member
  		SET
  			mpwd=#{password},
  			mpic=#{mPic},
  			mname=#{mName},
  			mtel=#{mTel},
  			memail=#{mEmail},
  			mupdatedate=sysdate
  		WHERE
  			mid=#{username}
  	</update>
  	
  	<update id="deleteMember">
		UPDATE
			amigo_member
		SET
			mpwd=null,
			mpic=null,
			mname=null,
			mtel=null,
			memail=null,
			mgender=null,
			mage=null,
			enabled='0',
			mupdatedate=sysdate
		WHERE
			mid=#{username}
  	</update>
  </mapper>